doctype html
html
  head
    title Play Hangman on node.js
  body
    h1 #{title}
    h3 Submit a word!

    form(name="input", action="/create", method="post")
      key Word
        input(type="text", name="word")

      input(type="submit", value="Submit")